@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  

  /* Style du menu déroulant */
select {
  appearance: none; /* Supprime le style natif du select */
  background-color: white;
  cursor: pointer;
}

/* Style des options */
select option {
  background-color: white;
  color: black;
}

/* Appliquer un effet de survol */
select option:hover,
select option:focus {
  background-color: #0B99FF !important;
  color: white !important;
}

  color: var(--foreground);
  background: var(--background);
  font-family: "Lufga", sans-serif;/* Appliquer la police à tout le projet */
}
@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-Regular.woff2") format("woff2"),
       url("/fonts/Lufga-Regular.woff") format("woff"),
       url("/fonts/Lufga-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/Lufga-Bold.woff2") format("woff2"),
       url("/fonts/Lufga-Bold.woff") format("woff"),
       url("/fonts/Lufga-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


